h2{
    text-align: center;
    color:#E50F42;
    margin-bottom: 10px;
}
img{
    width:98%; 
    height:180px;
}
p{
    text-align: center;
    color: #457b9d;
}
img:hover{
cursor: pointer;
opacity: 0.5;
/* height: 190px; */
width: 100%;
}