h4{
    text-align: center;
    
}
h3{
    color:#E50F42;
    text-align: center;
    /* margin-left: 1rem; */

}
.round{
    border-radius: 1rem;
    border-color:#a8dadc;
  
}
.margin{
    margin-top: 15px;
}

.img{
    height: 500px;
}
.moreMargin{
    margin-left: 5rem;
    padding-top: 4rem;
   
}
