
 

              
                          <td class="col-lg-4">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img appProductImageDirective  class="media-object" src= {{cartItem.imagePath}} style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ cartItem.title| slice:0:25 }}</a></h4>
                                </div>
                            </div>
                        </td>
                         
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.quantity }}</strong></td>
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.price }}</strong></td>
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.totalprice }}</strong></td>
                         
