
  <ngb-carousel #carousel [interval]="800" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" id="caro">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <!-- <h3>My slide {{i + 1}} title</h3> -->
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description" style="width: 100%;">
         
        </div>
      </a>
      
    </ng-template>
  </ngb-carousel>

  