<div class="container mt-5">
    <div class="row mb-5">
      <div class="col-md-5 ml-auto mb-5 order-md-2">
        <img
          src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/s960x960/96625392_3264496590279644_6863015039272484864_o.jpg?_nc_cat=110&_nc_sid=8024bb&_nc_ohc=E9n4d_H_jekAX-KbDlq&_nc_ht=scontent-hbe1-1.xx&_nc_tp=7&oh=f220b0cd9d0cd024921db46ef4812063&oe=5EDFB9B8"
          alt="Image"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 order-md-1">
        <div class="row">
          <div class="col-12">
            <div class="text-left pb-1">
              <h2 class="text-black h1 site-section-heading">About Us</h2>
            </div>
          </div>
          <div class="col-12 mb-4">
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
              incidunt magnam corrupti, odit eos harum quaerat nostrum
              voluptatibus aspernatur eligendi accusantium cum, impedit blanditiis
              voluptate commodi doloribus, nemo dignissimos recusandae.
            </p>
          </div>
          <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
            <div class="unit-4">
              <div>
                <h3>Web &amp; Mobile Specialties</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perferendis quis consect.
                </p>
                <p class="mb-0"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
            <div class="unit-4">
              <div>
                <h3>Intuitive Thinkers</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perferendis quis.
                </p>
                <p class="mb-0"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <h2 class="text-black h1 site-section-heading">Our Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="text-center">
          <img
            src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-0/p640x640/98022141_10222662468537459_9165695505152344064_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=Vuuy21FFDRIAX_Ks5Hs&_nc_ht=scontent.fcai19-2.fna&_nc_tp=6&oh=081e7ead18dc40c835005c2124762282&oe=5EE1E5F8"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
            style="width: 30%; height: 30%;"
          />
          <h3>Ahmed Ayad</h3>
          <p class="position text-muted">Co-Founder, President</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="text-center">
          <img
            src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/p720x720/74661285_3186437148094543_2006342664647081984_o.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_ohc=gX-Q-7UPj5UAX8BlbDq&_nc_ht=scontent-hbe1-1.xx&_nc_tp=6&oh=67ffbc22413ef2eadaa008525acdde34&oe=5EE05154"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
            style="width: 30%; height: 30%;"
          />
          <h3>Hadeer Bassem</h3>
          <p class="position text-muted">Co-Founder</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="person text-center">
          <img
            src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/p720x720/83328715_3010799865649319_3552838887606845440_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=b2G3Jgwj8LMAX-8fKWZ&_nc_ht=scontent-hbe1-1.xx&_nc_tp=6&oh=e2ed2e39262ca6d2e3babaa3524e7c30&oe=5EE2A1E2"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
          />
          <h3>Mathew Samir</h3>
          <p class="position text-muted">Developer</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
  
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>