<body class="body-wrapper">

	<section class="user-profile section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
					<div class="sidebar">
						<!-- User Widget -->
						<div class="widget user-dashboard-profile">
							<!-- User Image -->
							<div class="profile-thumb">
								<img appUserImageDirective src={{userImage}} alt="" class="rounded-circle img-fluid">
							</div>
							<!-- User Name -->
							<h5 class="text-center">{{user.name}}</h5>
						</div>

					</div>
				</div>
				<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
					<!-- Edit Personal Info -->
					<div class="widget personal-info">
						<h3 class="widget-header user">{{'EditProfile.Edit Personal Information'| translate}}</h3>
						<form [formGroup]='editProfileForm' (ngSubmit)="addEdit()">
							<!-- First Name -->
							<div class="form-group">
								<label for="first-name">{{'EditProfile.Name'| translate}}</label>
								<input type="text" class="form-control" formControlName="name" placeholder={{user.name}} [(ngModel)]="user.name">
							</div>
							<div class="alert alert-danger" *ngIf="!userNameStatus">
								{{'ValidateEditProfile.userName should be more than 7 letters'| translate}}
							</div>
						
							<!-- File chooser -->
							<div class="form-group choose-file">
								<i class="fa fa-user text-center"></i>
								<input type="file"  class="form-control-file d-inline" id="input-file"  (change) = "onFileSelected($event)" >
							</div>
							<!-- New Password -->
							<div class="form-group">
								<label for="new-password">{{'EditProfile.New Password'| translate}}</label>
								<input type="password" class="form-control" id="new-password" formControlName="password" [(ngModel)]="user.password" >
								

							</div>
							<div class="alert alert-danger" *ngIf="!passwordStatus">
								{{'ValidateEditProfile.password should be more than 5 charachters'| translate}}
							</div>
							<div class="form-group">
								<label for="new-email">{{'EditProfile.New email'| translate}}</label>
								<input type="email" class="form-control" id="new-email" formControlName="email" [(ngModel)]="user.email">
							</div>
							<div class="alert alert-danger" *ngIf="!emailStatus">
								{{'ValidateEditProfile.email should be likeABCemailcom'| translate}}
							</div>
							<!-- Submit button -->
							<button class="btn btn-transparent" type="submit">{{'EditProfile.Save My Changes'| translate}}</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>





</body>