<div class="row" id="parent">
    <div class="col-lg-3 col-md-12">
        <i class="fas fa-truck" ></i>
        <h3>{{'features.Free Shipping'| translate}}</h3>
        <p>{{'features.Free shipping on order over 200 L.E'| translate}}</p>
    </div>
    <div class="col-lg-3 col-md-12">
        <i class="fas fa-lock"></i>
        <h3>{{'features.Secure Payment'| translate}}</h3>
        <p>{{'features.We ensecure secure payment with PEV'| translate}}</p>
    </div>
    <div class="col-lg-3 col-md-12">
        <i class="fas fa-clock"></i>
        <h3>{{'features.Support 24/7'| translate}}</h3>
        <p>{{'features.Contact us 24 hours a day, 7 days a week'| translate}}</p>
    </div>
    <div class="col-lg-3 col-md-12">
        <i class="fas fa-undo"></i>
        <h3>{{'features.30 Days Return'| translate}}</h3>
        <p>{{'features.Return it within 30 days for an exchange'| translate}}</p>
    </div>
</div>
