
<nav class="navbar navbar-expand-md sticky ">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <img id="navLogo" src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/96668816_3264496463612990_1009609247782076416_n.jpg?_nc_cat=110&_nc_sid=8024bb&_nc_ohc=X8afy3myr2kAX_XzKBT&_nc_ht=scontent-hbe1-1.xx&oh=8a9d6e83fa1cd0f93efcf0ed9b161605&oe=5EE1F2A0">
    <h3 id="hLogo"class="font-weight-bold" href="#">Commerce</h3>
  </div>
  <div class="mx-auto order-0">
     
      <button 
       class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2,#navbarColor02">
        <img src="https://image.flaticon.com/icons/svg/1828/1828859.svg" class="img-fluid" width="20px" height="20px">
      </button>
      <div class="collapse navbar-collapse " id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="home" class="nav-link"><strong>{{'Nav.Home'| translate}}</strong><span class="sr-only">(current)</span></a>
          </li>
    
          <li class="nav-item">
            <a routerLink="about" class="nav-link"><strong>{{'Nav.About'| translate}}</strong></a>
          </li>
    
          <li class="nav-item" >
            <app-originalLogin  *ngIf= "!IsName"></app-originalLogin>
          </li>
    
          <li class="nav-item" >
            <app-login></app-login>
          </li>
    
    
    
          <li class="nav-item"  *ngIf= "!IsName">
            <a routerLink="register" class="nav-link"><strong>{{'Nav.Register'| translate}}</strong></a>
          </li> 
        
          <li class="nav-item" *ngIf= "IsAdmin" >
            <a class="nav-link" routerLink='adminOrders'><strong>{{'Nav.All Orders'| translate}}</strong></a>
          </li>
        
          </ul>
    
    
      </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <img appUserImageDirective routerLink="profile" class="nav-link img-fluid" *ngIf="IsName" src={{userImage}} style="width: 50px; height: 50px; border-radius: 50%;"/>
          <!-- <a routerLink="profile" class="nav-link" *ngIf="IsName"> <strong>Welcome {{ name }}</strong></a> -->
        </li>

        <li>
          <app-logout *ngIf="IsName"></app-logout>
        </li>

        <li class="nav-item"  *ngIf= "isNormalUser">
           <span class="badge badge-daner">{{numberofproducts}}</span>
              <i routerLink="cart" class="fa fa-shopping-cart"></i>
             
        </li>
        <li class="nav-item" id="langLi" >
          <select #langSelect (change)="translate.use(langSelect.value)" class="nav-link">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"> {{lang}}</option>
          </select>
      </li>
      </ul>
  </div>
</nav>


<router-outlet ></router-outlet>
   <app-footer></app-footer>  












 