img{
    height: 300px;
    width: 98%;
    border-radius: 1rem;
    
}
img:hover{
    opacity: 0.3;
    height: 320px;
    width: 100%;
}
h3,h4{
    text-align: center;
    color: #E50F42;
}
#prdContent{
    margin-right: 0%;
    margin-top: 5rem;
}
#features{

    margin-bottom: 2rem;
}
span,p,strong,h5{
    display: inline;
}
h4{
    margin-top: 5rem;
    margin-bottom: 2rem;
}