
       
    

        <ng-template [ngIf]="cartItems===undefined" [ngIfElse]="DisplayItems">
          <div style="text-align: center; margin-top: 200px; font-weight: 900; color: tomato;">
            {{'Cart.Your Cart is Empty'|translate}}
          </div>
        </ng-template>
        <ng-template #DisplayItems>
          
          
  <div class="row" style="margin-right: 0px; margin-top: 20px;">
  <table class="table col-lg-10  widget " >
   <thead>
     <tr>
       <th style="color: tomato;" scope="col">{{'Cart.Product'| translate}}</th>
       <th style="color: tomato;" scope="col">Image</th>
       <th style="color: tomato;" scope="col">{{'Cart.Quantity'| translate}}</th>
       <th style="color: tomato;" scope="col">{{'Cart.Price'| translate}}</th>
       <th style="color: tomato;" scope="col">{{'Cart.Total'| translate}}</th>
     </tr>
   </thead>
   <tbody *ngFor="let item of cartItems" >
     <tr >
       <th scope="row" >{{ item.title| slice:0:25 }} </th>
       <td><img appProductImageDirective class="media-object img-fluid" src= {{item.imagePath}} style="width: 30px; height: 30px;"/></td>
       
       <td>{{item.quantity}}</td>
       <td>{{item.price}}</td>
       <td>{{item.totalprice}}</td>
     </tr>
   </tbody>
    <tr  class="row">
    <td rowspan="4" 
    style="padding: 2rem; border-top:none; color:tomato; text-align: center;" class="col-lg-4"> <strong>{{'Cart.Total'| translate}}</strong> {{ cartTotal | currency:'EG' }}</td>
  </tr> 
 </table>
    
   </div>

   <div style="padding-left: 70%;">
     <a  class="btn CustomBtn mt-3 cart" (click)="handleAddOrder()"><i class="fa fa-shopping-cart cart"></i> {{'Cart.CheckOut'| translate}}</a> 

   </div>
          
            </ng-template>
           

     

