.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 1em;
  }
  .moreMargin{
      margin-top: 2rem;
  }

  table{
      margin-left: 10%;
  }
  .btn{
    border-radius: 2rem;
  }
 .cart{
    color: #fff;
 }
 th{
     color: #457b9d;
 }


