

<div class="page-wrapper  p-t-100 p-b-50" style="background-image: url('https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-0/p640x640/98089028_3265785156817454_5676459572756217856_o.jpg?_nc_cat=103&_nc_sid=8024bb&_nc_ohc=JHakpj1yug0AX8HKiZA&_nc_ht=scontent-hbe1-1.xx&_nc_tp=6&oh=e6c6d4fd23e8db10c57c1b23e7d42a92&oe=5EDFD5EA'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="wrapper wrapper--w900" style="width:80%; background-color: #ff000c30;" >  
      
        <div class="card" style="width:100%; background-color:cornsilk;">
          <div class="card-heading">
              <h2 class="title" style="text-align: center; color:#432aa5f2; font-family:cursive">{{'EditProduct.Edit Product'|translate}}</h2>
          </div>
          <div class="card-body" style="background-color:  whitesmoke;">

   <form class="mt-5 ml-5" [formGroup]='editProductForm' (ngSubmit)="saveChanges()">
  
    <div class="form-group col form-row">
        <div class="name">Title</div>
          <div class="value">
             <div class="input-group">
              <input class="input--style-6"  type="text" placeholder="Product Title" formControlName="title" class="form-control" maxlength="25"  minlength="7" [(ngModel)]="product.title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                 <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">{{'ValidateCraeteProduct.Title is required'|translate}}</div>
                    <div *ngIf="f.title.errors.minlength">{{'ValidateCraeteProduct.Length at least must be 7'|translate}}</div>
                    <div *ngIf="f.title.errors.maxlength">{{'ValidateCraeteProduct.Maxlength is 25'|translate}}</div>
                </div>
            </div>
         </div>
    </div>


    <div class="form-group col form-row">
      <div class="name">{{'EditProduct.Product Description'|translate}}</div>
        <div class="value">
           <div class="input-group">
            <input
            style="background-color: white;"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
            class="form-control col-4"
            id="productDescription"
            name="description"
            formControlName="description"
            [(ngModel)]="product.description"
            class="input--style-6"
          />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">{{'ValidateCraeteProduct.Description is required'|translate}}</div>
          </div>
          </div>
       </div>
  </div>



  <div class="form-group col form-row">
    <div class="name">{{'EditProduct.Product Price'|translate}}</div>
      <div class="value">
         <div class="input-group">
          <input
          style="background-color: white;"
          type="number"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
          class="form-control col-4"
          name="price"
          id="productPrice"
          formControlName="price"
          [(ngModel)]="product.price"
          class="input--style-6"
        />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">{{'ValidateCraeteProduct.Price is required'|translate}}</div>
      </div>
        </div>
     </div>
</div>



<div class="form-group col form-row">
  <div class="name">{{'EditProduct.Product Image'|translate}}</div>
<div class="value">
    <div style="text-align: center;" class="input-group">
          <input  type="file" id="input-file" (change) = "onFileSelected($event)"  class="form-control" >
          <img appProductImageDirective src={{productImage}} style="width: 50px;  height: 50px;" /> 
    </div>
</div>
</div>



  <!-- <div class="form-group">
    <label for="produdctImage">{{'EditProduct.Product Image'|translate}}
    </label>
        <img appProductImageDirective src={{productImage}} style="width: 50px;  height: 50px;" /> 

    <input type="file" id="input-file" (change) = "onFileSelected($event)">

  </div> -->
  <div class="text-center">
  <button class="btn btn-success" style="color: brown; text-align: center;" (click) = "saveChanges()">{{'EditProduct.Save Changes'|translate}}
  </button>
  </div>
</form>


</div>
</div> 
</div>
</div>