<div class="row" style="margin-right: 0px;">
    <div *ngFor="let O of orders"  class="col-lg-10 offset-lg-1 col-md-12 offset-md-1" >
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist" style="text-align: center;" >
            <!-- <h3 class="widget-header">{{O.orderStatus}}</h3> -->
         <!-- Example split danger button -->
<div class="btn-group" >

    <button type="button" class="btn btn-info" >{{O.orderStatus}}
    <select #statusSelected (change)="selectStatus(O._id,statusSelected.value)" class="form-control" *ngIf="O.orderStatus!='cancelled'">
        <!-- <option selected disabled>Change Status</option> -->
        <option selected disabled>{{'OrderStatus.Change Status'| translate}}</option>
        <option value="pending">{{'OrderStatus.Pending'| translate}}</option>
        <option value="accepted">{{'OrderStatus.Accepted'| translate}}</option>
        <option value="rejected">{{'OrderStatus.Rejected'| translate}}</option>
    </select>
    </button>
  </div>

            <table class="table table-responsive product-dashboard-table" style="padding-left: 25%;">
        
                <tbody>
                    <tr *ngFor="let prd of O.cart.products">
                        <td class="product-details">
                            <h3 class="title">{{prd.title|slice:0:30}}</h3>
                        </td>
                    </tr>
                    <tr>
                    
                        <td>
                            <div><strong>{{'AllOrdersAdmin.Customer Name'| translate}} : </strong>{{O.cart.cartUser.name}}</div>
                           
                            <div><strong>{{'AllOrdersAdmin.Total Price'| translate}} : </strong>{{O.cart.cartprice}}</div>
                        </td>

                 

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>