<ng-template #content let-modal>
  <div class="row">
    <img [src]="img" class="col col-6 round img" />
<div class="col col-5  align-self-center m-2">
    <form class="form-group">
      

      <button
        type="button"
        class="close col col-1 ml-8"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        style="text-align: right;"
      >
        <span aria-hidden="true">&times;</span>
      </button>
       <h3 class="col col-1">{{'Login.WELCOME'| translate}}</h3>  
      <div class="form-group">
        <input
          placeholder="{{'Login.Email'| translate}}"
          [(ngModel)]="email"
          #emaill="ngModel"
          name="email"
          class="col col-12 form-control round margin"
        />
      </div>

      <div *ngIf="isValidEmail" class="alert alert-danger">
        {{'ValidateLogin.Email is required'| translate}}
      </div>

      <input
        type="password"
        placeholder="{{'Login.Password'| translate}}"
        [(ngModel)]="password"
        name="password"
        class="col col-12 form-control round margin"
      />

      <div *ngIf="isValidPass" class="alert alert-danger">
        {{'ValidateLogin.Password is required'| translate}}
      </div>

      <button
        class="btn CustomBtn col col-12 btn-dark form-control round margin"
        (click)="login()"
        data-dismiss="modal"
      >
      {{'Login.Login'| translate}}
        
      </button>
      <div *ngIf="isWrongEmailOrPass" class="mt-4 alert alert-danger">
        {{'ValidateLogin.Wrong Mail OR Password'| translate}}
      </div>
  
    </form>
  

</div>
  </div>
</ng-template>


<a class="nav-link" (click)="openLg(content)" style=" color:#E50F42;"><strong> {{'Login.Login'| translate}}</strong> </a> 

