
<div id="bodyDiv" class="row" style="background-image: url('https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-0/p640x640/98089028_3265785156817454_5676459572756217856_o.jpg?_nc_cat=103&_nc_sid=8024bb&_nc_ohc=JHakpj1yug0AX8HKiZA&_nc_ht=scontent-hbe1-1.xx&_nc_tp=6&oh=e6c6d4fd23e8db10c57c1b23e7d42a92&oe=5EDFD5EA'); background-repeat: no-repeat; background-size: cover; background-position: center center; margin-right: 0px;">
    
    
  <div class = 'containr'>
    <form [formGroup]="myFrom"  (ngSubmit)="signUp()">
   
      <input
         placeholder="{{'Reg.enter your User Name'| translate}}"
         name="username"
         required
         minlength="7"
         formControlName="name"
        
         [ngClass]="{ 'is-invalid': submitted && allStatus.name.errors }"
     
       />
    


     <div *ngIf="submitted && allStatus.name.errors" class="invalid-feedback">
      <div *ngIf="allStatus.name.errors.required">required</div>
      <div *ngIf="allStatus.name.errors.minlength">at least 8</div>
    </div>



     <input
       placeholder="{{'Reg.enter your email'| translate}}"
       name="email"
       formControlName="email"
       minlength="10"
       [ngClass]="{ 'is-invalid': submitted && allStatus.email.errors }"
     />

     <div *ngIf="submitted && allStatus.email.errors" class="invalid-feedback">
      <div *ngIf="allStatus.email.errors.required">required</div>
      <div *ngIf="allStatus.email.errors.email">not valid email</div>
    </div>

      <div *ngIf="flag" class="alert alert-danger">
       {{'ValidateReg.this email is already registered'| translate}}

     </div>
 
     <input
       type="password"
       placeholder="{{'Reg.enter your Password'| translate}}"
       name="password"
       minlength="5"
       maxlength="20"
       formControlName="password"
       [ngClass]="{ 'is-invalid': submitted && allStatus.password.errors }"
     />

     <div *ngIf="submitted && allStatus.password.errors" class="invalid-feedback">
      <div *ngIf="allStatus.password.errors.required">required</div>
      <div *ngIf="allStatus.password.errors.minlength">at least 5</div>
      <div *ngIf="allStatus.password.errors.maxlength">max is 20</div>
    </div>

     <input
       type="password"
       placeholder="{{'Reg.confirm your Password'| translate}}"
       formControlName="confirmPassword"
       [ngClass]="{ 'is-invalid': submitted && allStatus.confirmPassword.errors }"
     />
  
     <div *ngIf="submitted && allStatus.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="allStatus.confirmPassword.errors.required">required</div>
      <div *ngIf="allStatus.confirmPassword.errors.confirmedValidator">password dosnt match</div>
    </div>

     <div class="row"> 
    <label style="color: white;" class="form-check-label" for="male">{{'Reg.Male'|translate}}</label>

    <input class="col-lg-2 radio-inline" 
       [(ngModel)]="selection"
         type="radio"
         name="gender"
         id="male"
         value="Male"
         formControlName="gender"
       />
    
      <label style="color: white;" class="form-check-label" for="female">{{'Reg.Female'|translate}}</label>

      <input style="color: white;" class="col-lg-2 radio-inline
       "
      
       [(ngModel)]="selection"
         type="radio"
         name="gender"
         id="female"
         value="Female"
         formControlName="gender"
       />
       </div>
    
    <input type="file" (change)="onFileSelected($event)" />
    <div class="text-center mt-4">
     <button  type="submit" class="mg-auto btn btn-info">{{'Reg.submit'|translate}}</button>
      </div> 
  </form>

  </div>
</div>