.containr{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0,0,0.8);
    box-sizing: border-box;
    color: #fff;
    margin-top: 20px;
    padding: 40px;
}
h2{
    text-align: center;
}
/* input[type=text] , input[type=password] , input[type= email], input[type= number   ]{ */
    input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, .10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color : #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight:bold ;
}
input[type=submit]
{
 width:100%;   
padding: 10px ;
margin-top: 30px;
outline: none;
border: none;
background: #60adde;
opacity: .7;
border-radius: 20px;
font-size: 20px;
color: #fff;
}
input[type=submit]:hover{
    background: #003366;
    opacity: .7;
}

#bodyDiv{
    height: 700px;
    /* background-color:#090979 */
  
    /* background: linear-gradient(45deg,#e66465, #9198e5); */


    /* background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; */
}