<ng-template #content let-modal>               
    <div class="row">
        <img class="col-lg-4 img-fluid" src="https://www.paldesk.com/wp-content/uploads/2019/08/ecommerce-guide-how-to-start-an-ecommerce-business-1024x439.png"/>
        <div class="col col-lg-6  align-self-center m-2">
            <button
            type="button"
            class="close col col-1 ml-8"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
            style="text-align: right;"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        <h3 class="col-lg-6">
            {{'prdAddSuccess.Your product added successfully'|translate}}
            </h3>
    </div>
    </div>
   
       </ng-template>


   
   
   
   <div class="page-wrapper  p-t-100 p-b-50" style="background-image: url('https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-0/p640x640/98089028_3265785156817454_5676459572756217856_o.jpg?_nc_cat=103&_nc_sid=8024bb&_nc_ohc=JHakpj1yug0AX8HKiZA&_nc_ht=scontent-hbe1-1.xx&_nc_tp=6&oh=e6c6d4fd23e8db10c57c1b23e7d42a92&oe=5EDFD5EA'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="wrapper wrapper--w900" style="width:80%; background-color: #ff000c30;" >  
            
              <div class="card" style="width:100%; background-color:cornsilk;">
                <div class="card-heading">
                    <h2 class="title" style="text-align: center; color:#432aa5f2; font-family:cursive">{{'CreatePrd.Add Product'|translate}}</h2>
                </div>
                <div class="card-body" style="background-color:  whitesmoke;">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(content)">
                  
                        

                        <div class="form-group col form-row">
                            <div class="name">{{'CreatePrd.Product title'|translate}}</div>
                          <div class="value">
                              <div class="input-group">
                                  <input class="input--style-6"  type="text" placeholder="Product Title" formControlName="title" class="form-control" maxlength="25"  minlength="7" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                      <div *ngIf="f.title.errors.required">{{'ValidateCraeteProduct.Title is required'|translate}}</div>
                                      <div *ngIf="f.title.errors.minlength">{{'ValidateCraeteProduct.Length at least must be 7'|translate}}</div>
                                      <div *ngIf="f.title.errors.maxlength">{{'ValidateCraeteProduct.Maxlength is 25'|translate}}</div>
                                    </div>
                              </div>
                          </div>
                      </div>
                       
                        <div class="form-group col form-row">
                              <div class="name">{{'CreatePrd.Price'|translate}}</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6"  type="number" placeholder="Price Per Unit/EG" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required">{{'ValidateCraeteProduct.Price is required'|translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col form-row">
                              <div class="name">{{'CreatePrd.Description'|translate}}</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea style=" border-bottom: 2px solid black;" class="textarea--style-6"  placeholder="Description for the product" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">{{'ValidateCraeteProduct.Description is required'|translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col form-row">
                            <div class="name">{{'CreatePrd.Product Image'|translate}}</div>
                          <div class="value">
                              <div style="text-align: center;" class="input-group">
                                    <input  type="file" (change) = "onFileSelected($event)" formControlName="imagePath" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagePath.errors }">
                                   <div *ngIf="submitted && f.imagePath.errors" class="invalid-feedback">
                                      <div *ngIf="f.imagePath.errors.required">{{'ValidateCraeteProduct.Product Image is required'|translate}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                 
                        <div class="text-center">
                            <button class="btn btn-primary mr-1" style="color: brown;">{{'CreatePrd.Add Product'|translate}}</button>
                            <button class="btn btn-secondary" style="color: brown;" type="reset" (click)="onReset()">{{'CreatePrd.Cancel'|translate}}</button>
                        </div>
                    </form>
                </div>
            </div> 
            </div>
            </div>
            