.round{
    border-radius: 1rem;
    border-color:#a8dadc;
}

a:hover{
  background-color: #5672f9;
  box-shadow: black 2px;
}
span{
    display: block;
}
a{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* footer{

    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
} */

.footer {
    position: relative; 
    left: 0;
    bottom: 0;
    right: 0;
    top:300px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
    
    /* //text-align: center; */
 }

 