 
     <div class="card" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
     
     <div class="product-grid6" style="height: 350px;">
        <div class="product-image6">
            <a href="#">
                <img appProductImageDirective style="height: 240px; margin: auto;" class="pic-1" src={{productItem.imagePath}}>
            </a>
        </div>
        <div class="product-content" style="background-color:honeydew;">
            <h3 class="title">{{ productItem.title| slice:0:25 }}</h3>
            <!-- <p class="card-text">
              {{ productItem.description |slice:0:25 }}
            </p>  -->
            
            <div class="price">{{ productItem.price }} EG
                <!-- <span>$14.00</span> -->
            </div>
        </div>
        <ul class="social">
            <!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li> -->
            <!-- <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li> -->
            <div *ngIf= "!isAdmin">
             <li><a (click)="handleAddToCart()" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> 

            <li><a (click)="routeDetails(productItem._id)" data-tip="Show Details"><i class="fa fa-eye"></i></a></li>
           </div>
           <div *ngIf= "isAdmin">
            <li><a (click)="editProduct()" data-tip="Edit"><i class="fa fa-edit"></i></a></li>
          
            <li><a  mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"  (confirm)="deleteProduct()" (cancel)="cancelClicked=true" data-tip="Remove"><i class="fa fa-trash-alt"></i></a></li>

          
            <!-- <li><a (click)="deleteProduct()" data-tip="Remove"><i class="fa fa-trash-alt"></i></a></li> -->
          </div>
       
         </ul>
    </div>
      
    </div>
