
<div class="row" style="margin-right: 0px; text-align: center; ">
<div class="form-group" class="col-lg-10 offset-2">
  <input type="text" class="form-control" placeholder="{{'SearchBar.Search Here'|translate}}"  [(ngModel)]="term" id="SearchBar">
</div>
  <div *ngIf="isAdmin" class="col-lg-12" style="margin-top: 1rem; float: right;">
 <button id = "addProd" class="btn CustomBtn" (click)="routeCreate()" style="border-radius: 2rem;">{{'AddPrd.Add Product'|translate}}
  <i class="fa fa-plus"></i>
 </button>
 </div>
</div>

 <div class="container mt-5"> 
  <div class="row">
    <div class="col-lg-3 mb-5" *ngFor="let product of products$ | filter:term">
       
      <app-product-item [productItem] = "product"></app-product-item>

    </div>
     </div> 


    

    
    
   

      
      
   


