#addProd:hover
{

    background-color: #5672f9;
    box-shadow: black 2px;
  
      
}
#addProd
{
    color:white;
}


#SearchBar{
    border-radius: 1em;
    border-color: #a8dadc;
    width: 75%;
    margin-top: 15px;
    text-align: center;
    
}
#SearchBar:focus{
     height: 65px;
     border-color: #5672f9;
 
}



h4{
    text-align: center;
    
}
h3{
    color:#E50F42;
    text-align: center;
    margin-left: 5rem;
}
.round{
    border-radius: 1rem;
    border-color:#a8dadc;
  
}
.margin{
    margin-top: 15px;
}

.img{
    height: 500px;
}
.moreMargin{
    margin-left: 5rem;
    padding-top: 4rem;
   
}
